<a href="https://www.sintef.no/en/" target="_blank">
    <div id="stage" class="sintef">
    </div>
</a>

<section id="sintef">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-6 feature-caption">
                    <a href="http://heads-project.eu" target="_blank">
                        <img src="/images/sintef/heads.png" class="img-fluid" alt="SINTEF">
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <p>
                        SINTEF is Scandinavia's largest research organization. I spent my second co-op term as part of their IOT (Internet of Things) group. During my work-term the team worked on completing <a href="http://heads-project.eu" target="_blank">
                        Heads</a>, a three-year EU project with the purpose of developing ICT (Internet and Communications Technology) tools for future heterogeneous computing networks.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sintef" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-6">
                    <h6>My internship</h6>
                    <p>
                        My work focused around developing an indoor positioning system based on the HTC Vive Base Stations. Using a microprocessor and an infrared sensor with an appropriate amplification circuit, I developed the signal processing algorithms to interpret information from the base-stations. For more information, see my<a href="/documents/HTC_Vive_Base-Station_Positioning_System.pdf">final report</a>.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 feature-caption">
                    <a href="/images/sintef/office.jpg" data-toggle="lightbox" data-gallery="holmestrand-gallery">
                        <img src="/images/sintef/office.jpg" class="img-fluid" alt="SINTEF">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sintef_pdf">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-12 feature-caption">
                    <p align="center">
                        <object data="/documents/HTC_Vive_Base-Station_Positioning_System.pdf" type="application/pdf" width="80%" height="800px"> 
                        </object>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
