<section id="ios-general" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-10 offset-lg-1">
                    <h1 class="display-3">iOS application development</h1>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="ios-LittleP">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6  col-md-12 offset-lg-1 feature-caption">
                    <h6>Sequre</h6>
                    <p>
                        I got introduced to programming in 2012 when I found myself with a which to make an app for my phone. In December of that year, my first app got onto the app store. It was a simple bounce-the-ball game I called Little P, made for the iPad. Lerning from the internet requiered presistance, and teh smallest issues would at times keep me stomped for weeks, but it was a great experience and a major milestone for me personally.
                    </p>
                </div>
                <div class="col-lg-4  col-md-12 text-sm-center">
                    <img src="/images/ios/littlep.png" class="img-rounded" width="128" height="128" alt="LittleP">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ios-sequre" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6 col-md-12 offset-lg-1 feature-caption">
                    <h6>Sequre</h6>
                    <p>
                        My second app got onto the store a year later. This was a password-protected utility-application for storing sensitive information, including login credentials, credit card information and personal notes.
                    </p>
                    <p>
                        I took both these apps off the app store earlier this year, as I have not had the time to maintain them over the last years.
                    </p>
                </div>
                <div class="col-lg-4  col-md-12 text-sm-center">
                    <img src="/images/ios/sequre.png" class="img-rounded" width="128" height="128" class="img-rounded" alt="SeQure">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ios-university" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-10 col-md-12 offset-lg-1 feature-caption">
                    <p>
                        After starting university I have worked on multiple projects inclding a variometer and tracklog application for the iPhone, random-number generator for the Apple Watch and latest an app for version-control and annotation of poetry. None of these have recieved sufficient attention to go beyond being on my own devices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
