
<section id="website-general" class="feature-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="offset-md-1 col-md-10">
                <h1>FlightLogger - Support</h1>
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="row align-items-center">
            <div class="offset-md-1 col-md-10">
               <style type="text/css">
                .tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;margin:0px auto;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
                .tg .tg-cly1{text-align:left;vertical-align:middle}
                .tg .tg-nrix{text-align:center;vertical-align:middle}
                .tg .tg-0lax{text-align:left;vertical-align:top}
                </style>
                <table class="tg">
                  <tr>
                    <th class="tg-nrix">Issue</th>
                    <th class="tg-nrix">Resolution</th>
                  </tr>
                  <tr>
                    <td class="tg-cly1">iCloud sync issue</td>
                    <td class="tg-cly1">iCould sync can be slow at times. Try waiting 24 hours. During this time, most issues will resolve themselves.</td>
                  </tr>
<!--
                  <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                  </tr>
                  <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                  </tr>
                  <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                  </tr>
-->
                </table>
            </div>
        </div>
        <p></p>
        <p></p>

        <div class="row align-items-center">
            <div class="offset-md-1 col-md-10">
                Still need support? Contact me at <a href=mailto:dev@mkals.no?subject=FlightLogger>dev@mkals.no</a>.
            </div>
        </div>
    </div>
</section>

