<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Project portfolio for Morten Kals">
    <meta name="author" content="Morten Kals">

    <title>Project Site</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="nav-placeholder">
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script>
            $.get("/navigation.html", function (data) {
                $("#nav-placeholder").replaceWith(data);
            });
        </script>
    </div>


    <!-- CONTENT -->

    <!-- Page Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Holmestrand Stajson
                    <small>Norwegian Underground Trainstation</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project outline -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="IMG-consept.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Project Outline</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- My work -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">My Work</h3>
            </div>

            <div class="col-md-4">
                <h4>Quality control</h4>
                <p></p>
                <h4>Coordination</h4>
                <p></p>
                <h4>Documentation</h4>
                <p></p>

            </div>

            <div class="col-md-8">
                <img class="img-responsive" src="IMG-hangers.jpg" alt="">
            </div>

        </div>
        <!-- /.row -->
        <!-- jQuery (necessary for Bootstrap 's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </div>
</body>

</html>