<section id="cam-quad-general">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 section-heading">Camera quad</h1>
                <p>
                    In 2013 I stated the making of a 500mm, foldable areal camera-platform. My challenge to myself was to manufacture the frame exclusively by the use of the 3D-printer so that the system would have to be modelled digitally.
                </p>
                <p>
                    The cam-quad has in the years since gone through multiple design iterations, evolving as I increased my knowledge of CAD-design, statics, 3D-printing and design principles.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-development" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>First prototype</h6>
                    <p>
                        The first prototype frame was made exclusively from <a target="_blank" href="http://taulman3d.com/bridge-nylon.html">Tulman Bridge</a> nylon filament. This material is very strong, but is more flexible than PLA/ABS. Each arm was printed separately with a compressive, horizontal member on top and a circular tensile member diagonally attached to the base of the main frame. The nylon was a temperamental material to print such large pieces with.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/cam-quad/setup.jpg" class="img-fluid " alt="setup">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-folding" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="/images/cam-quad/unfolded.jpg" class="img-fluid" alt="unfolded">
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="/images/cam-quad/folded.jpg" class="img-fluid" alt="folded">
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-siluet">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-8 offset-lg-2">
                    <img src="/images/cam-quad/siluet.jpg" class="img-fluid " alt="siluet">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-air" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>Vibrations</h6>
                    <p>
                        The nylon material proved too soft, amplifying the vibrations from the motor. A new iteration lead to a PLA body with nylon arms made with a different geometrical approach. This reduced the vibrations a lot and made the quad a good flyer, but the vibrations were still to large to get good footage with an onboard camera.
                    </p>
                    <p>
                        The project is currently halted. When I find the time to take it up again, I will abandon the concept of a solely 3D-printed quad-copter of this size.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/cam-quad/air.jpg" class="img-fluid " alt="flight">
                </div>
            </div>
        </div>
    </div>
</section>
