<section id="cam-quad-general">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <h1 class="display-3 section-heading">Camera quad</h1>
                <p>
                    In 2013 I stated the making of a 500 mm, foldable areal camera-platform. I challenged myself to manufacture the frame exclusively by the use of the 3D printer, necessitating the system to be designed in CAD.
                </p>
                <p>
                    The cam-quad has in the years since gone through multiple design iterations, evolving as I increased my knowledge of statics, 3D printing, CAD and design principles.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-development" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>First prototype</h6>
                    <p>
                        The first prototype frame was made exclusively from <a target="_blank" href="http://taulman3d.com/bridge-nylon.html">Tulman Bridge</a> nylon filament. This material has a large modulus of elasticity, but is more flexible than PLA/ABS. Each arm was printed separately with a compressive, horizontal member on top and a circular tensile member diagonally attached to the base of the main frame. The nylon was a temperamental material to print such large pieces with.
                    </p>
                    <p>
                        The picture is taken in late 2014, as I prepare for flight. Learning to fly the multi-rotor took a lot of practice, despite having experience with RC scale gliders and motor airplanes from a tender age together with my father.
                    </p>
                    <p>
                        Below is shown a later version of the quad, highlighting the folding-mechanism that enabled the unit to be transported in a backpack.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <a href="/images/cam-quad/setup.jpg" data-toggle="lightbox" data-gallery="cam-quad-gallery">
                        <img src="/images/cam-quad/setup.jpg" class="img-fluid " alt="setup">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-folding" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a href="/images/cam-quad/unfolded.jpg" data-toggle="lightbox" data-gallery="cam-quad-gallery">
                    <img src="/images/cam-quad/unfolded.jpg" class="img-fluid" alt="unfolded">
                </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <a href="/images/cam-quad/folded.jpg" data-toggle="lightbox" data-gallery="cam-quad-gallery">
                    <img src="/images/cam-quad/folded.jpg" class="img-fluid" alt="folded">
                </a>
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-air">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>Vibrations</h6>
                    <p>
                        A common issue for the first iterations was vibrations. The frame was not stiff enough, allowing high frequency horizontal oscillations to build in the frame, ruining the footage from any camera mounted on the frame. In an attempt to remedy this, the next frame design featured increased stability in the horizontal plane by use of two compressive members in place of one. The changes were partially successful. In colder environments, the qaud would function well, but the thermal properties of the 3D printed nylon was such that during a hot summers day the vibrations would return.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <a href="/images/cam-quad/cad.jpg" data-toggle="lightbox" data-gallery="cam-quad-gallery">
                        <img src="/images/cam-quad/cad.jpg" class="img-fluid " alt="flight">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cam-quad-air" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <a href="/images/cam-quad/air.jpg" data-toggle="lightbox" data-gallery="cam-quad-gallery">
                        <img src="/images/cam-quad/air.jpg" class="img-fluid " alt="flight">
                    </a>
                </div>
                <div class="col-md-12 col-lg-5 feature-caption">
                    <p>
                        A 3D printed quad copter of this size has proved difficult. When I revisit this project, I will interface aluminum extrusions with 3D printed parts to increase stiffness whilst maintaining light weight, strength and portability.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
