<section id="ios-Jottings" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6  col-md-12 offset-lg-1 feature-caption">
                    <h1 class="display-3 section-heading">Jottings</h1>
                    <p>
                        Have you ever lost what you have been writing because the file was not saved properly? With Jottings, what you write is automatically saved for you. All the drafts you have gone through are available as well, enabling you to go back and see your earlier work and possibly revert back.
                    </p>
                    <p>
                        This enables another lever of creative writing, where you are free to go off explore unknown avenues with no fear of loosing what you currently have. If it does not work out, simply revert to the previous version.
                    </p>
                    <p>
                        Every time you tap the the lock button, a version is stored. Otherwise, a new version is collected every 10 minutes.
                    </p>
                </div>
                <div class="col-lg-4  col-md-12 text-sm-center">
                    <img src="/images/ios/jottings.png" class="img-rounded" width="128" height="128" alt="Jottings">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ios-support" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-8  col-md-12 offset-lg-2 feature-caption">
                    <h6>Support</h6>
                    <p>
                        Contact me for questions, feedback and suggestions. Email: dev.kals@icloud.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ios-image" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <img src="/images/ios/jottings iPad.png">
            </div>
        </div>
    </div>
</section>
