html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73
}

h1,
h2,
h3,
h4,
h5 {
    color: #333
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1ream 0 0;
}

#stage {
    background: url('/images/Aurland2.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#holmestrand-stage {
    background: url('/images/holmestrand-consept.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-content {
    padding: 1rem 0;
}

#about-me {
    max-height: 40rem;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h2 {
    color: white;
}

.feature-light {
    background: #EAEAEA;
}

.feature-content img {
    height: auto;
    margin-top: 0;
}

#main-footer {
    background: #262F36;
    color: white;
    padding: 2rem 0;
    font-size: 0.8rem;
    text-align: right;
}


/*
.card-deck {
    display: table;
    width: 100%;
    margin-bottom: 0.75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
}*/


/*
.card-deck .card {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top;
}
*/


/* Media Queries */

@media screen and (min-width: 400px) {
    .feature-content {
        display: flex;
        align-items: center;
    }
}
