<a href="https://www.arista.com/en/" target="_blank">
    <div id="stage" class="arista">
    </div>
</a>

<section id="arista" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 offset-lg-2 col-lg-8 feature-caption">
                    <p>
                        Arista Networks was founded to pioneer and deliver software-driven cloud networking solutions for large data center storage and computing environments. The company designs multi-layer network switches.
                    </p>
                    <h6>Hardware Engineering Intern</h6>
                    <p>
                        I have had two work terms at Arista. Interning here has lent me insight into a fast-paced environment in which I am given significant responsibility and where I am required to keep to strict deadlines. I have led the development of eight PBC designs in total, including:</p>
                    <ul>
                        <li>component selection</li>
                        <li>schematic capture</li>
                        <li>stackup selection</li>
                        <li>writing documentation</li>
                        <li>placement and developing routing schemes</li>
                        <li>overseeing layout</li>
                        <li>bringup and debugging</li>
                    </ul>
                    <p>
                        My largest design has 16 retimers and is capable of looping multiple terabits of data per second. The board has over 3000 components and will consume 700W during normal operation.
                    </p>
                    <p>
                        In the lab, I have been able to work with clock jitter characterization, eye-calibration, SI verification, TDR, and I have gotten significant experience soldering small surface mount components (down to 0402 size under the microscope).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
