<!-- NAVBAR -->
<nav class="navbar navbar-light bg-faded navbar-fixed-top">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
    <a class="navbar-brand" href="#">Project Site <small>for Morten Kals</small> </a>
    <div class="collapse navbar-toggleable-xs " id="mynavbar">
        <ul class="nav navbar-nav pull-sm-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Coop</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Holmestrand Stasjon</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personal Projects</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">PiGimbal</a>
                    <a class="dropdown-item" href="#">Mini 250 Quad-racer</a>
                    <a class="dropdown-item" href="#">3D-Printer</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Team Projects</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">ENPH253 - Ray</a>
                    <a class="dropdown-item" href="#">Rapid - 3D-Scanner</a>
                    <a class="dropdown-item" href="#">Noober - 3D-Printer hub</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>
