<!-- NAVBAR -->
<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
    <a class="navbar-brand" href="/">Project Site <small>for Morten Kals</small> </a>
    <div class="collapse navbar-toggleable-sm " id="mynavbar">
        <ul class="nav navbar-nav pull-sm-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Coop</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/coop/holmestrand">Holmestrand Stasjon</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personal Projects</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/projects/3d-printer">3D-Printer</a>
                    <a class="dropdown-item" href="/projects/website">Project Website</a>
                    <a class="dropdown-item" href="/projects/pi-gimbal">PiGimbal</a>
                    <a class="dropdown-item" href="/projects/race-quad">Race-quad</a>
                    <a class="dropdown-item" href="/projects/cam-quad">Cam-quad</a>
                    <a class="dropdown-item" href="/projects/ios-development">iOS Development</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Team Projects</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/projects/ray">The Ray - ENPH 253</a>
                    <a class="dropdown-item" href="/projects/noober">Noober - 3D-Printer hub</a>
                    <a class="dropdown-item" href="/projects/3d-scanner">Rapid - 3D-Scanner</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
