<!-- NAVBAR -->
<nav class="navbar navbar-full navbar-dark bg-inverse" role="navigation">
    <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
  </button>
    
    <a class="navbar-brand" href="/">Morten Kals</a>
    <div class="collapse navbar-toggleable-sm" id="mynavbar">
        <ul class="nav navbar-nav float-md-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Co-op</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/coop/arista">Arista Networks</a>
                    <a class="dropdown-item" href="/coop/sintef">SINTEF</a>
                    <a class="dropdown-item" href="/coop/hent">HENT</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Team Projects</a>
                <div class="dropdown-menu">
                    <!-- dropdown-menu-right -->
                    <a class="dropdown-item" href="/projects/pico-hydro">ENPH 479: Pico Hydro Power</a>
                    <a class="dropdown-item" href="/projects/aevc">ENPH 459: EV Charging</a>
                    <a class="dropdown-item" href="/projects/ray">ENPH 253: Robotics</a>
                    <a class="dropdown-item" href="/projects/noober">Noober 3D Printer Hub</a>
                    <a class="dropdown-item" href="/projects/3d-scanner">Rapid 3D Scanner</a>
                    <a class="dropdown-item" href="/projects/rc-planes">RC Airplanes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personal Projects</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/projects/website">Project Website</a>
                    <!--<a class="dropdown-item" href="/Projectpi-gimbal">PiGimbal</a>-->
                    <a class="dropdown-item" href="/projects/race-quad">Race-Quad</a>
                    <a class="dropdown-item" href="/projects/cam-quad">Cam-Quad</a>
                    <a class="dropdown-item" href="/projects/3d-printer">3D Printer</a>
                    <a class="dropdown-item" href="/projects/ios-development">iOS Development</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
