<a href="/images/stages/ray.jpg" data-toggle="lightbox" data-gallery="ray-gallery" style="text-decoration:none">
    <div id="stage" class="ray">
        <h1 class="display-3">The Ray</h1>
    </div>
</a>

<section id="ray-intro" class="feature-light">
    <div class="container">
        <div class="row ">
            <div class="float-lg">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <p>
                        Over the summer, all second year engineering-physics students at UBC took ENPH 253 - a five credit, hands on robotics course.
                    </p>
                    <p>
                        The course was very demanding and time-consuming, but nevertheless very inspiring! The team of four ("The Ray team") were very pleased to be rewarded with the rare score of 100% on our design.
                    </p>
                    <p>
                        In this course we were also evaluated on technical communication through a formal design proposal and a pitch presentation. On this part we received a 97% score.
                    </p>
                    <p>
                        The team made a website dedicated to displaying some of the aspects involved in the design.
                    </p>
                    <p>
                        <a target="_blank" style="width:100%" class="btn btn-primary" href="http://ray.enph.ca/" role="button">Visit ray.enph.ca for details</a>
                    </p>
                </div>
                <div class="col-lg-7 col-md-12 feature-content">
                    <a href="/images/ray/electronics.jpg" data-toggle="lightbox" data-gallery="ray-gallery">
                        <img src="/images/ray/electronics.jpg" class="img-fluid" alt="ray">
                    </a>
                    <figcaption class="figure-caption text-xs-right">
                        Photo: Pasindu Muthukuda.
                    </figcaption>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="ray-team">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-12 feature-content">
                    <a href="/images/ray/team.jpg" data-toggle="lightbox" data-gallery="ray-gallery">
                        <img src="/images/ray/team.jpg" class="img-fluid " alt="ray-team">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 feature-content">
                <p>
                    "The Ray team", from the left: Erik MacLennan, Jordan Jones, Nolan Heim and me, Morten Kals.
                </p>
            </div>
        </div>
    </div>
</section>
