<a href="/images/stages/ray.jpg" data-toggle="lightbox" data-gallery="ray-gallery" style="text-decoration:none">
    <div id="stage" class="ray">
        <h1 class="display-3">The Ray</h1>
    </div>
</a>

<section id="ray-intro" class="feature-light">
    <div class="container">
        <div class="row ">
            <div class="float-lg">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <p>
                        Over the summer, all second year engineering-physics students at UBC took ENPH 253 - a five credit, hands on robotics course.
                    </p>
                    <p>
                        This became the main event of the summer. The course ran from May to August and gave a real experience of working in a team on a tight schedule.
                    </p>
                    <p>
                        The team made a website dedicated to displaying some of the aspects involved in the design.
                    </p>
                    <p>
                        <a target="_blank" style="width:100%" class="btn btn-primary" href="http://enph.ca/ray/" role="button">Visit enph.ca/ray for details</a>
                    </p>
                </div>
                <div class="col-lg-7 col-md-12 feature-content">
                    <a href="/images/ray/electronics.jpg" data-toggle="lightbox" data-gallery="ray-gallery">
                        <img src="/images/ray/electronics.jpg" class="img-fluid" alt="ray">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="ray-team">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-12 feature-content">
                    <a href="/images/ray/team.jpg" data-toggle="lightbox" data-gallery="ray-gallery">
                        <img src="/images/ray/team.jpg" class="img-fluid " alt="ray-team">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 feature-content">
                <p>
                    The Ray team, from the left: Erik MacLennan, Jordan Jones, Nolan Heim and me.
                </p>
            </div>
        </div>
    </div>
</section>
