<div id="stage" class="race-quad"></div>

<section id="quad-racer">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h1 class="display-3">Quad-racer</h1>
                    <p>
                        My latest generation quad-copter was ready in the beginning of september, featuring 15 min airtime and FPV in a 692g unit.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/race-quad/overview.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>Custom aluminum frame</h6>
                    <p>
                        The frame is designed in SolidWorks and water jet cut form 1/8 inch aluminum. This gives great stiffness at low weight. Modeling all components in CAD enables easy assembly, as all holes and mountings have been designed to fit the components. 3d-printed separators maintain the connection between the upper and lower frames.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/race-quad/frame.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>Electronics</h6>
                    <p>
                        The HubbyKing KK-mini board as a small, light and inexpensive flight controller and combined with upgraded firmware gives good customizability. All four 12A Afro speed-controllers are located internally in the budy, benith the primary 1400mAh 4-cell LiPo battery. A smaller lipo-cell is used to power the FatShark 5.8GHz 25mW video transmismitter.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/race-quad/electronics.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>Drivetrain</h6>
                    <p>
                        Four Multistart BabyBeast V2 brushless motors running at about 16V provides a significant amount of lift. The setup has been able to tackle steady constal winds exceeding 16m/s.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/race-quad/motor.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>Cemera and video transmittsion</h6>
                    <p>
                        The GoPro camera is mounted internally in the body for protection and to maintain weight-an even weight distrobution. It can record video directly and provides analouge video out for the video downlink.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/race-quad/camera.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h6>Compact setup</h6>
                    <p>
                        All requiered components fit into a 300x400mm carrying case that makes it possible to bring along to remote locations.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/race-quad/case.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>
</section>
