<section id="website-general" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1 class="display-3 section-heading">Project Portfolio Website</h1>
                <p>
                    <a href="/Projectray">The ENPH 253</a> project course required that we make a final report. Our team decided to do this as a <a target="_blank" href="http://enph.ca/ray/">website</a>. This inspired me to make my own website with the goal of portraying some of the projects I am involved in.
                </p>
                <p>
                    The site builds on multiple open source technologies outlined below.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="website-elements">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img class="img-rounded" src="/images/logos/bootstrap-logo.png" alt="Bootrsap" width="140" height="140">
                <h3>Bootstrap 4</h3>
                <p>Functioning as a platform for layout, Bootstrap has greatly sped up the design process.</p>
                <center>
                    <p><a target="_blank" class="btn btn-secondary" href="http://v4-alpha.getbootstrap.com" role="button">View details »</a></p>
                </center>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img class="img-rounded" src="/images/logos/middleman-logo.png" alt="Middleman" width="140" height="140">
                <h3>Middleman</h3>
                <p>The site generator Middleman enables me to maintain a well-organized html code base, avoiding repetition and ensuring consistency. Being static, the platform also facilitates short load-times.</p>
                <center>
                    <p><a target="_blank" class="btn btn-secondary" href="https://middlemanapp.com" role="button">View details »</a></p>
                </center>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img src="/images/logos/brackets-logo.png" alt="Brackets" width="140" height="140">
                <h3>Brackets</h3>
                <p>The code editor Brackets has many great extensions and a simple, light weight UI.</p>
                <center>
                    <p><a target="_blank" class="btn btn-secondary" href="http://brackets.io" role="button">View details »</a></p>
                </center>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img class="img-circle" src="/images/logos/github-logo.png" alt="GitHub" width="140" height="140">
                <h3>GitHub Pages</h3>
                <p>Hosting on GitHub Pages is convenient, free and provides stable access with version-control.</p>
                <center>
                    <p><a target="_blank" class="btn btn-secondary" href="https://pages.github.com" role="button">View details »</a></p>
                </center>
            </div>
        </div>
    </div>
</section>
