<section id="website">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1 class="display-3">Project Portfolio Website</h1>
                <p>
                    <a href="/projects/ray">ENPH 253</a> requiered that we make a final report. Our team decided to do this as a <a href="http://enph.ca/ray/">website</a>, and this inspiered me to make my own website with the goal of portraying some of the projects I am and have been involved with.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Components</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img class="img-rounded" src="/images/logos/bootstrap-logo.png" alt="Bootrsap" width="140" height="140">
                <h3>Bootstrap 4</h3>
                <p>Funtioning as a base for layout, Bootrap has enabled greatly sped up the design-process.</p>
                <p><a class="btn btn-secondary" href="http://v4-alpha.getbootstrap.com" role="button">View details »</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img class="img-rounded" src="/images/logos/middleman-logo.png" alt="Middleman" width="140" height="140">
                <h3>Middleman</h3>
                <p>The site generator Middleman has enabled me to maintain a well organized html codebase, avoiding repetition ensuring consistency. Being static, the platform also fascilitates short load-times.</p>
                <p><a class="btn btn-secondary" href="https://middlemanapp.com" role="button">View details »</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img src="/images/logos/brackets-logo.png" alt="Brackets" width="140" height="140">
                <h3>Brackets</h3>
                <p>The code editor Brackets has many grat extensions and a great and light weight UI.</p>
                <p><a class="btn btn-secondary" href="#http://brackets.io" role="button">View details »</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img class="img-circle" src="/images/logos/github-logo.png" alt="GitHub" width="140" height="140">
                <h3>GitHub Pages</h3>
                <p>Hosting on GitHub Pages is very convenient, free and provides stable, high speed access with version-control.</p>
                <p><a class="btn btn-secondary" href="https://pages.github.com" role="button">View details »</a></p>
            </div>
        </div>
    </div>
</section>
