
<h1>Priject Website</h1>
<p>ENPH 253 (the project course in which we made the Ray) requiered that we make a final report. We decided to make this into a website, and the inspiered me to make my own website to portray some of the projects I am involved in. </p>

<p>The webiste is developed with Bootstrap through the static site generator Middleman. This allows for a well-organized html codebase with minimal repeated code whilst maintaining the quick response of a static website.</p>

