<section id="about-general" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-5">
                    <p>
                        I am 21 years old and from Lier, Norway. In 2014 I started my engineering studies at UBC and in 2015 I was admitted to the Engineering Physics program. I expect to graduate with a Bachelor of Applied Science in May 2019, having completed four Co-op terms.
                    </p>
                </div>
                <div class="col-lg-7">
                    <a href="/images/about/aurland.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/aurland.jpg" class="img-fluid " alt="Aurland">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-family">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <a href="/images/about/family.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/family.jpg" class="img-fluid " alt="Aurland">
                    </a>
                </div>
                <div class="col-lg-4">
                    <p>
                        My family means a lot to me. Having grown up traveling to the mountains, a love of nature and outdoor recreation have been instilled in my siblings and me from a tender age.
                    </p>
                    <p>
                        This picture is from Whistler, taken the summer I stared university in nearby Vancouver.
                    </p>
                    <p>
                        For my sixth birthday, I got a unicycle from my parents. It took a couple of years before I found the dedication to learn to ride, but the unicycle has remained with me ever since. Vancouver is home to some of the best biking-terrain in the world, so when I am able to take a weekend day off I head to the trails of Mount Fromme in North Vancouver for muni rides. The picture below shows me riding in the forsts at home in Lier, Norway at the age of 14.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="/images/stages/unicycle.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="unicycle">
    </div>
</a>

<!-- Unicycle -->

<div id="about-ski" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <a href="/images/about/ski.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/ski.jpg" class="img-fluid " alt="Jumping">
                    </a>
                </div>
                <div class="col-lg-4">
                    <h6>Ski</h6>
                    <p>
                        Cross country and downhill skiing have both been an important part of my winters. The family having a small apartment in one of Norway's largest skiing-resorts, Trysil, weekends and holidays have been spent outdoors and in the snow in winter-time.
                    </p>
                    <p>
                        In the picture below, I am traversing a 19 m jump, my brother Johannes watching.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="/images/stages/jump.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="jump">
    </div>
</a>


<section id="about-tandem" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <a href="/images/about/tandem.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/tandem.jpg" class="img-fluid " alt="Morten">
                    </a>
                </div>
                <div class="col-lg-4">
                    <h6>Paragliding</h6>
                    <p>
                        The age limit for paragliding in Norway is 15 years. A month after my 15 birthday I joined a paragliding beginners course and have since had in excess of 800 flights. The sport has taken me around Norway to join in XC (cross country) competitions and flying locations.
                    </p>
                    <p>
                        I got my tandem paragliding licence three years ago, and have had great fun taking family and friends along in the air. On the picture we see my sister and me coming in for landing in Trysil during the winter holiday in 2014.
                    </p>
                    <p>
                        Below is a picture of me flying solo with the Ozone Delta 2.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="/images/stages/paraglider.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="paraglider">
    </div>
</a>


<!--
<section id="about-tandem" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-10 offset-lg-1">
                    <a href="/images/about/tandem-landscape.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/tandem-landscape.jpg" class="img-fluid " alt="Morten">
                    </a>
                    <p>
                        This picture was taken by my father, depicting my sister and me with the beautiful Norwegian mountains in the background.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
-->



<section id="about-speedrider">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/XWpKvDpNgUs?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe> </div>
                </div>
                <div class="col-lg-4">
                    <h6>Speedriding</h6>
                    <p>
                        A speedrider is a small paraglider with increased speed and wing loading. Gard Haugen and I got our speed-riding licences in Voss, 2014. The speed, precision and energy these wings offer is captivating in the extreme.
                    </p>
                    <p>
                        The video is captured from my helmet during the summer of 2015. I land after a great flight, and turn around to see Gard performing the same manoeuvre.
                    </p>
                    <p>
                        The picture below shows me ridge-soaring in Vestervig, Denmark.
                    </p>
                    <p>
                        For more videos, see my <a target="_blank" href="https://www.youtube.com/user/mkals95">YouTube channel</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="/images/stages/speedrider.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="speedrider">
    </div>
</a>


<section id="about-piano">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-4">
                    <h6>Piano</h6>
                    <p>
                        I started playing the piano when I was about ten years old. It has remained a great recreational interest ever since.
                    </p>
                </div>
                <div class="col-lg-8">
                    <a href="/images/about/piano.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/piano.jpg" class="img-fluid " alt="piano">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="about-piano" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <a href="/images/about/rider.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/rider.jpg" class="img-fluid " alt="piano">
                    </a>
                </div>
                <div class="col-lg-4">
                    <h6>Guardening</h6>
                    <p>
                        We have a large garden that I have been brought up to take care of. In 2009 I got the job as gardener for the local kindergarten and a little later of a psychiatric institution.
                    </p>
                    <p>
                        I have in addition had summer job for three years tending 6 churches in my local county. The work included gardening in the churchyards and grave keeping, requiring a sharp eye for details and the ability to structure the workday so as to keep all the properties in good condition. The accommodation of ceremonies and work with relations required respect and compassion.
                    </p>
                    <p>
                        The picture shows me the day we upgraded from the Husqvarna ProFlex to the 4x4 Husqvarna P524 with rotating broom and snow thrower.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
<a href="/images/stages/electric.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="electric">
    </div>
</a>
-->
