<section id="about-me" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-5">
                    <p>
                        I am 21 years old from Lier, Norway. In 2014 I began studying Engineering at UBC and a year later I was admitted to the engineering physics program.
                    </p>
                </div>
                <div class="col-lg-7">
                    <img src="/images/about/aurland.jpg" class="img-fluid " alt="Aurland">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="family">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <img src="/images/about/family.jpg" class="img-fluid " alt="Aurland">
                </div>
                <div class="col-lg-4">
                    <p>
                        My family means a lot to me. Having grown up traveling to the mountains, a love of nature and outdoor recreation have been instilled in my siblings and me from a tender age. The picture is from Whistler, taken the summer I stared university in Vancouver.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="stage" class="speedrider">
</div>

<section id="about-me" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/XWpKvDpNgUs?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe> </div>
                </div>
                <div class="col-lg-4">
                    <h6>Speedriding</h6>
                    <p>
                        Gard and I got our speed-riding licences in Voss, 2014. The speed, precision and energy these wings offer is captivating in the extreme and inspires to continued progression.
                    </p>
                    <pre>
As night us greet, down another street
he wonders far, free and fair.
Heading the mirth of the populous earth 
that yet will linger here.
And so it should, for as he would 
when you reach out, his hand to take,
you climb the hills with united wills 
and a single shadow make.
                    </pre>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="stage" class="danmark">
</div>

<section id="about-me" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <img src="/images/about/tandem.jpg" class="img-fluid " alt="Morten">
                </div>
                <div class="col-lg-4">
                    <h6>Tandem paragliding</h6>
                    <p>
                        I got my tandem paragliding licence three years ago, and have had great fun taking family and friends along in the air. On the picture we see my sister and me coming in for landing in Trysil during the winter holiday in 2014.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="stage" class="tandem">
</div>
