<section id="about-general" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-5">
                    <p>
                        I am 21 years old from Lier, Norway. In 2014 I started my Engineering studies at UBC and a year later I was admitted to the Engineering Physics program. I expect to graduate as B.AS. in May 2019 with 4x four-month coop-terms.
                    </p>
                </div>
                <div class="col-lg-7">
                    <a href="/images/about/aurland.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/aurland.jpg" class="img-fluid " alt="Aurland">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-family">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <a href="/images/about/family.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/family.jpg" class="img-fluid " alt="Aurland">
                    </a>
                </div>
                <div class="col-lg-4">
                    <p>
                        My family means a lot to me. Having grown up traveling to the mountains, a love of nature and outdoor recreation have been instilled in my siblings and me from a tender age. The picture is from Whistler, taken the summer I stared university in nearby Vancouver.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="/images/stages/jump.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="jump">
    </div>
</a>

<div id="about-ski" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <a href="/images/about/ski.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/ski.jpg" class="img-fluid " alt="Jumping">
                    </a>
                </div>
                <div class="col-lg-4">
                    <h6>Ski</h6>
                    <p>
                        Cross country and downhill skiing have both been an important part of my winters. The family having a small apartment in one of Norway's largest skiing-resorts, Trysil, weekends and holidays have been spent outdoors and in the snow in winter-time.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="/images/stages/speedrider.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="speedrider">
    </div>
</a>

<section id="about-speedrider" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/XWpKvDpNgUs?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe> </div>
                </div>
                <div class="col-lg-4">
                    <h6>Speedriding</h6>
                    <p>
                        Gard and I got our speed-riding licences in Voss, 2014. The speed, precision and energy these wings offer is captivating in the extreme.
                    </p>
                    <p>
                        The video is captured from my helmet during the summer of 2015.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="/images/stages/danmark.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="danmark">
    </div>
</a>

<section id="about-tandem" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-8">
                    <a href="/images/about/tandem.jpg" data-toggle="lightbox" data-gallery="about-gallery">
                        <img src="/images/about/tandem.jpg" class="img-fluid " alt="Morten">
                    </a>
                </div>
                <div class="col-lg-4">
                    <h6>Tandem paragliding</h6>
                    <p>
                        I got my tandem paragliding licence three years ago, and have had great fun taking family and friends along in the air. On the picture we see my sister and me coming in for landing in Trysil during the winter holiday in 2014.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="/images/stages/tandem.jpg" data-toggle="lightbox" data-gallery="about-gallery">
    <div id="stage" class="tandem">
    </div>
</a>
