<div id="stage" class="holmestrand">
</div>

<section id="holmestrand">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <h1 class="display-3">Holmestrand Stasjon</h1>
                    <p>
                        Holmestrand Stasjon is a subterrainian train station in Sandefjord, Norway.
                    </p>
                    <p>
                        Four parallel tracks pass the 250m platforms. Trains will pass in the centre tracks at speeds of 260km/h, requiring careful handling of pressure and acoustics. A steel sealing below the tunnel roof was installed in order to accomplish this in addition to handling the water dripping from the rock. Hent got the contract for all interior installations in the station, including all steel-installations.
                    </p>
                </div>
                <div class="col-md-12 col-lg-7 text-sm-center">
                    <img src="/images/holmestrand-tunell.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-offset-4 col-lg-8">
                    <h4>My Work</h4>
                    <p>
                        I had a diverse work experience, being assigned tasks involving the following:
                    </p>

                    <h5>Development and maintenance of documentation</h5>
                    <p>
                        With a design lifetime exceeding 100 years, the required documentation for the project was significant. Updating and maintaining the system developed for documenting the production of roof hangers and subsequent suspended steel construction became one of my primary duties. Ensuring the quality and completeness of the documentation required me to arrange meetings and follow-up on contractors, which was a valuable experience.
                    </p>

                    <h5>Quality control and on-site inspections</h5>
                    <p>
                        On-site quality control often occupied a significant part of my efforts, giving insigt into manufacturing and the issues related to producing at scale under difficult working conditions.
                    </p>

                    <h5>Coordination of sub-contractors</h5>
                    <p>
                        For the latter part of the coop-term, my responsibilities expanded to include overall progress-monitoring and coordination of contractors. This gave new insight into how large projects are organized and the difficulties associated with keeping on schedule.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
