<div id="holmestrand-stage" class="holmestrand">
</div>

<section id="holmestrand">
    <div class="container">
        <div class="row">
            <div id="page-caption">
                <h1 class="display-3">Holmestrand Stasjon</h1>
            </div>
        </div>
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <p>
                        Holmestrand Stasjon is a train station that is being built inside a mountain hall in Sandefjord, Norway.
                    </p>
                    <p>
                        Four parallel tracks pass the 250 m platforms. Trains will be able to pass in the centre tracks at speeds of 260km/h, requiring careful handling of pressure and acoustics. A steel sealing below the tunnel roof was installed in order to accomplish this in addition to handle the water that trickles down from the rock. </p>
                    <h4>My Work</h4>
                    <p>I did some things. </p>
                </div>
                <div class="col-md-7 col-sm-12 text-sm-center">
                    <img src="/images/holmestrand-tunell.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>
</section>
