<div id="holmestrand-stage" class="holmestrand">
</div>

<section id="holmestrand">
    <div class="container">
        <div class="row">
            <div id="page-caption">
                <h1 class="display-3">Holmestrand Stasjon</h1>
            </div>
        </div>
        <div class="row">
            <div class="feature-content">
                <div class="col-md-12 col-lg-5 feature-caption">
                    <p>
                        Holmestrand Stasjon is a subterrainian train station in Sandefjord, Norway.
                    </p>
                    <p>
                        Four parallel tracks pass the 250 m platforms. Trains will pass in the centre tracks at speeds of 260km/h, requiring careful handling of pressure and acoustics. A steel sealing below the tunnel roof was installed in order to accomplish this in addition to handleing the water from the rock. Hent was given the contract for all interiour installations in the station, including all steel-installations. </p>
                    <h4>My Work</h4>
                    <p>
                        I had a diverse work experience, being assigned tasks involving the following:
                    </p>
                    <h5>Quality control and on-site inspections</h5>
                    <p>
                        On-site manegerial quality control was a significant part of my efforts, involving
                    </p>

                    <h5>Development and maintenance of documentation</h5>
                    <p>
                        With a guaranee lifetime of 100 years, the requiered documentation was significant. I was particularly involved with the system developed for the hangers and beam-system for the installation of the roof in the main station building. My duites included monitoring overall progress, coordinating and fascilitating the flow of information from the project site to the archive.
                    </p>

                    <h5>Coordination of sub-contractors</h5>
                    <p>
                        Hent used multiple sub-contractors in the project and towards the end of my coop-term my responsibilities expanded to include overall progress-monitoring and
                    </p>

                    <p>
                        I have gained insight into how large projects are managed and how the management deals with situations arising on the construction site. My work with documentation has given me an idea of its importance to quality and quality assurance. It has also lead me to gain insight into what makes for good documentation and what does not, both in seeing what others think/do/advice but also through seeing what they do that I do not think makes sense. I have thorougly realized how docuemntation can be misused, and how quicly a checklist turns from being something useful that ensures all steps in a procedure is completed correctly, to merely somthing that is mindlessly crossed out at the end of a job.
                    </p>

                </div>
                <div class="col-sm-12 col-md-7 text-sm-center">
                    <img src="/images/holmestrand-tunell.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>
</section>
