<a href="/images/stages/robo.jpg" data-toggle="lightbox" data-gallery="printer-gallery" style="text-decoration:none">
    <div id="stage" class="printer">
        <h1 class="display-3">3d-printing</h1>
    </div>
</a>

<section id="printer-intro" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-6">
                    <a href="/images/printer/robo.jpg" data-toggle="lightbox" data-gallery="printer-gallery">
                        <img src="/images/printer/robo.jpg" class="img-fluid" alt="Robo3d">
                    </a>
                </div>
                <div class="col-lg-6">
                    <h6>The Robo 3D R1</h6>
                    <p>I purchased my first 3D printer the spring of 2014. I was about to leave highschool and thought this could become the great technical project of the summer - and so it became. It kickstarted my interest in CAD and has led to familiarity with power- and control systems, thermal control, Arduino, firmware modifications in C++ etc. Upgrades include LCD-screen, E3D hotend, improved cable management and z-stabilisation. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="printer-to-university">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-6">
                    <p>
                        The printer followed when I started university and moved to Canada. The picture shows my first-year dorm room, where the printer was a prominent element.
                    </p>
                    <p>
                        It has given great inspiration for doing CAD and developing my knowledge of SolidWorks. It has became an important prototyping-tool that has heily benefitted other projects I have been invilbed with, such as the Ray, the 3D scanner and the PiGimbal.
                    </p>
                    <p><a class="btn btn-primary" style="width:100%" href="/projects/noober/" role="button">Continue with Noober's 3D Printer Hub</a></p>
                </div>
                <div class="col-lg-6">
                    <a href="/images/printer/dorm.jpg" data-toggle="lightbox" data-gallery="printer-gallery">
                        <img src="/images/printer/dorm.jpg" class="img-fluid" alt="Responsive image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
