<section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>3D-Printing</h1>
            </div>
        </div>
    </div>
</section>
<section id="feature-one">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-6">
                    <img src="/images/robo.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                    <h6>Robo-3D</h6>
                    <p>I purchased my first 3d-printer the summer of 2014. I was about to leave highschool and considered this could become the great project of the summer - and so it became.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feature-two">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-5 col-lg-offset-1">
                    <p> The printer has followed when I that fall started university. </p>
                </div>
                <div class="col-lg-6">
                    <img src="/images/dorm.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feature-two">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-5 col-lg-offset-1">
                    <h6>Robo-3D</h6>
                    <p>During this time I developed the first and second prototype of a foldable quad-frame printed from nylon.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/images/printed_quad.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="feature-two">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-lg-5 col-lg-offset-1">
                    <h6>Robo-3D</h6>
                    <p>During this time I developed the first and second prototype of a foldable quad-frame printed from nylon.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/images/printed_quad.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</section>

<p>It has given great inspiration for doing CAD and developing my knowledge of SolidWorks, and as proved an essential tool for most of my other projects, including the Ray and the PiGimbal.</p>

<p>With the release of the Prusa i3 MK2 this summer, I decided to upgrade the …</p>
