<div id="stage" class="printer">
    <h1 class="display-3">3d-printing</h1>
</div>

<section id="printer-intro" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-6">
                    <img src="/images/robo.jpg" class="img-fluid" alt="Robo3d">
                </div>
                <div class="col-lg-6">
                    <h6>Robo 3D R1</h6>
                    <p>I purchased my first 3d-printer the summer of 2014. I was about to leave highschool and thought this could become the great technical project of the summer - and so it became. Upgrades include LCD-screen, E3D hotend, improved cable management and z-stabilisation. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="printer-to-university">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-lg-6">
                    <p>
                        The printer has followed when I that fall started university. The picture shows my first-year dorm room, where the printer was a prominant element.
                    </p>
                    <p>
                        It has given great inspiration for doing CAD and developing my knowledge of SolidWorks, and as proved an essential tool for most of my other projects, including the Ray and the PiGimbal.
                    </p>
                    <center>
                        <p><a target="_blank" class="btn btn-secondary" href="/projects/noober/" role="button">Printer Hub »</a></p>
                    </center>
                </div>
                <div class="col-lg-6">
                    <img src="/images/dorm.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</section>
