<div id="stage" class="printer">
</div>

<section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>3D-Printing</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="float-md">
            <div class="col-lg-6">
                <img src="/images/robo.jpg" class="img-fluid" alt="Robo3d">
            </div>
            <div class="col-lg-6">
                <h6>Robo-3D</h6>
                <p>I purchased my first 3d-printer the summer of 2014. I was about to leave highschool and thought this could become the great technical project of the summer - and so it became. Upgrades include LCD-screen, E3D hotend, improved cable management and z-stabilisation. </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="float-md">
            <div class="col-lg-6">
                <p>
                    The printer has followed when I that fall started university.
                </p>
                <p>
                    It has given great inspiration for doing CAD and developing my knowledge of SolidWorks, and as proved an essential tool for most of my other projects, including the Ray and the PiGimbal.
                </p>
                <p>
                    The last year, Erik and I have been working on 3d-printers <a href="/projects/noober">jointly</a>, and started a <a href="https://www.3dhubs.com/vancouver/hubs/nooberrobotics">3d-prining hub</a> that offers prining services to primarily local Vancouver costumers.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="/images/dorm.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
