<a href="/images/stages/noober.jpg" data-toggle="lightbox" data-gallery="noober-gallery" style="text-decoration:none">
    <div id="stage" class="noober">
        <h1 class="display-3">Noober 3D Printing Hub</h1>
    </div>
</a>

<section id="noober-intro">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <p>
                        Erik MacLennan and I have been working on 3D printers jointly this last year. We have also started a 3D printing hub that offers printing services to primarily local Vancouver costumers through an online platform, <a target="_blank" href="https://www.3dhubs.com/service/noober">3D Hubs</a>.
                    </p>
                    <p>
                        In addition to giving challenging print jobs, this project has put us in contact with interesting people and given insight into customer service and advertising.
                    </p>
                    <p>
                        To the right we see three classical <a target="_blank" href="http://www.thingiverse.com/Kals/collections/woodfill-prints">Thingiverse models</a>, printed in <a target="_blank" href="http://colorfabb.com/woodfill-fine">ColorFabb WoodFill</a> that contains 30% recycled woodfibres.
                    </p>
                    <p>
                        Below we have Erik (right) and me in front of our current printer setup.
                    </p>
                </div>
                <div class="col-lg-7 col-md-12 feature-caption">
                    <a href="/images/noober/woodfil.jpg" data-toggle="lightbox" data-gallery="noober-gallery">
                        <img src="/images/noober/woodfil.jpg" class="img-fluid " alt="printing">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="/images/stages/noober-team.jpg" data-toggle="lightbox" data-gallery="noober-gallery">
    <div id="stage" class="noober-team">
    </div>
</a>


<section id="noober-wikus" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-7 col-md-12 feature-caption">
                    <a href="/images/noober/wikus.jpg" data-toggle="lightbox" data-gallery="noober-gallery">
                        <img src="/images/noober/wikus.jpg" class="img-fluid " alt="Wikus">
                    </a>
                </div>
                <div class="col-lg-5 col-md-12 feature-caption">
                    <h6>Wikus, custom C-Bot printer</h6>
                    <p>
                        As we started university, Erik decided to build a custom printer based on the C-Bot architecture. He designed and assembled the printer time in 2015. This fall I have been involved in rebuilding the printer with some updates. Auto-leveling bed, a large 4000x2000x2600 mm build volume and improved stability are among the improvements.
                    </p>
                    <p>
                        It has been a fun and educational build and I have learned much about the planning and execution required of such a complex unit with great requirements for precision.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="noober-prusa">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-7 col-md-12 feature-caption">
                    <h6>Prusa i3 MK2</h6>
                    <p>
                        The Prusa i3 MK2 is the latest hardware addition to the printing setup. We received and built the kit in late November, just before the start of the fall term exam period. Accurate, reliable and feature-rich, the Prusa boasts a compact form-factor, auto-leveling bed and automatic XYZ screw axis compensation, with a printing resolutions down to 50 micron.
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 feature-caption">
                    <a href="/images/noober/prusa.jpg" data-toggle="lightbox" data-gallery="noober-gallery">
                        <img src="/images/noober/prusa.jpg" class="img-fluid " alt="Prusa">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="noober-robo" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-7 col-md-12 feature-caption">
                    <a href="/images/noober/robo.jpg" data-toggle="lightbox" data-gallery="noober-gallery">
                        <img src="/images/noober/robo.jpg" class="img-fluid " alt="Robo">
                    </a>
                </div>
                <div class="col-lg-5 col-md-12 feature-caption">
                    <h6>Robo 3D R1</h6>
                    <p>
                        We started out with the Robo and it has served well as a 200 micron workhorse. Multiple upgrades and modifications have been required to keep the machine going, improving usability and print quality in the process. Following in the rep-rap philosophy, Robo has made most of the plastic brackets for Wikus.
                    </p>
                    <p>
                        We disassembled the Robo just before Christmas, and will be working on rebuilding it from scratch this term with a new design and component upgrades.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="noober-octoprint" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6 col-md-12 feature-caption">
                    <h6>Octoprint</h6>
                    <p>
                        All our printers have <a target="_blank" href="http://octoprint.org">OctoPrint</a> enabled, so as to allow for wireless control and monitoring. Using <a target="_blank" href="https://www.zerotier.com">ZeroTire</a>, we are able to control and monitor the printers over the internet.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 feature-caption">
                    <center>
                        <a href="/images/noober/octoprint.jpg" data-toggle="lightbox" data-gallery="noober-gallery">
                            <img src="/images/noober/octoprint.jpg" class="img-fluid " alt="octoprint">
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="noober-benchy">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6 col-md-12 feature-caption">
                    <h6>The Jolly Benchy</h6>
                    <p>
                        We have printed over 100 benchy boats over the last year. The print is challenging and revealing of flaws in hardware, software and slicing.
                    </p>
                    <p>
                        When testing out a new machine, filament or slicing engine, the benchy helps us converge on the correct combination of settings required to get a good result.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 feature-caption">
                    <center>
                        <a href="/images/noober/benchy.jpg" data-toggle="lightbox" data-gallery="noober-gallery">
                            <img src="/images/noober/benchy.jpg" class="img-fluid " alt="octoprint">
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
