<div id="stage" class="noober">
    <h1 class="display-3">Noober 3D-Printing Hub</h1>
</div>


<section id="noober-intro">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <p>
                        The last year, Erik and I have been working on 3d-printers jointly, and started a 3D-printing hub that offers printing services to primarily local Vancouver costumers.
                    </p>
                    <p>
                        The project has put us in contact with a lot of interesting people and given insight into customer service.
                    </p>
                </div>
                <div class="col-lg-7 col-md-12 feature-caption">
                    <img src="/images/noober/woodfil.jpg" class="img-fluid " alt="printing">
                </div>
            </div>
        </div>
    </div>
</section>


<a href="/images/stages/noober-team.jpg" data-toggle="lightbox">
    <div id="stage" class="noober-team">
    </div>
</a>



<section id="noober-wikus" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-7 col-md-12 feature-caption">
                    <img src="/images/noober/wikus.jpg" class="img-fluid " alt="Wikus">
                </div>
                <div class="col-lg-5 col-md-12 feature-caption">
                    <h6>Wikus - custom C-Bot</h6>
                    <p>As we started university, Erik decided to build a custom printer based on the C-Bot architecture. He assembled the printer for the first time in 2015. This fall I have been involved in re-assembling the printer with some updates. It has been a fun and educational build and I have learned much about the planning and execution of the assembly of such a complex unit with great requirements for precision.</p>
                    <p>Wikus is to date our most accurate printer, producing some positively astonishing prints for a FDM printer. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="noober-prusa">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-7 col-md-12 feature-caption">
                    <h6>Jillian - Prusa i3 MK2</h6>
                    <p>
                        The Prusa MK2 is the latest hardware addition to the printing setup. We recieved and built the kit in late november, just before the start of the exam-season. Accurate, reliable and user-reindly, the machine boasts a compact form-factor, autoleveling bed and automatic XYZ sciew axis compensation at resolutions up to 50 micron.
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 feature-caption">
                    <img src="/images/noober/prusa.jpg" class="img-fluid " alt="printing">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="noober-robo" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-7 col-md-12 feature-caption">
                    <img src="/images/noober/robo.jpg" class="img-fluid " alt="printing">
                </div>
                <div class="col-lg-5 col-md-12 feature-caption">
                    <h6>Robo 3D R1</h6>
                    <p>
                        We started out with the Robo and it has serverd well as a 200 micron workhorse. Multiple upgrades and modifications have been required to keep the machine going, improving usability and print quality. Following in the rep-rap philosophy, Robo has made a significant part of the plastic joints and connectors for Wikus.
                    </p>
                    <p>
                        We dissasembled the Robo just before christmas and will be working on rebuilding it from screatch this term with a new design and some upgraded components.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="noober-octoprint" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6 col-md-12 feature-caption">
                    <h6>Octoprint</h6>
                    <p>
                        All printers in the have OctoPrint enabled, so as to allow for wireless control and monitoring. Using ZeroTire, we are able to control and monitor the printers over the internet.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 feature-caption">
                    <center>
                        <img src="/images/noober/octoprint.jpg" class="img-fluid " alt="octoprint">
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="noober-benchy">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6 col-md-12 feature-caption">
                    <h6>The Jolly Benchy</h6>
                    <p>
                        We have printed over 100 Benchy Boats over the last year. The print is difficult and revealing of flaws in hardware, software and slicing.
                    </p>
                    <p>
                        When testing out a new machine, filament or slicing engine, the benchy enables us to converge on the correct combination of settings required to get a good result.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 feature-caption">
                    <center>
                        <img src="/images/noober/benchy.jpg" class="img-fluid " alt="octoprint">
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
