<div id="stage" class="noober">
    <h1 class="display-3">Noober 3D-Printing Hub</h1>
</div>


<section id="noober-intro">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <p>
                        The last year, Erik and I have been working on 3d-printers jointly, and started a 3d-prining hub that offers prining services to primarily local Vancouver costumers.
                    </p>
                    <p>
                        The project has put us in contatct with a lot of interesting people and given insight into customer service.
                    </p>
                </div>
                <div class="col-lg-7 col-md-12 feature-caption">
                    <img src="/images/noober/woodfil.jpg" class="img-fluid " alt="printing">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="noober-wikus" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-7 col-md-12 feature-caption">
                    <img src="/images/noober/printing.jpg" class="img-fluid " alt="Wikus">
                </div>
                <div class="col-lg-5 col-md-12 feature-caption">
                    <h6>Wikus - custom C-Bot</h6>
                    <p>As we started university, Erik decided to build a custom printer based on the C-Bot architecture. He assembled the printer for the first time in 2015. This fall I have been involved in re-assembling the printer with some updates. It has been a fun and educational build and I have learned much about the planning and execution of the assembly of such a complex unit with great requirements for precision.</p>
                    <p>Wikus is to date our most accurate printer, producing some positively astonishing prints for a FDM printer. </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="noober-robo">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <h6>Robo 3D R1</h6>
                    <p>
                        We started out with the Robo and it is with us still as a 200 micron workhorse. Multiple upgrades and modifications have been required to keep the machine going, improving usability and print quality. Following in the rep-rap philosophy, Robo has made a significant part of the plastic joints and connectors for Wikus.
                    </p>
                </div>
                <div class="col-lg-7 col-md-12 feature-caption">
                    <img src="/images/noober/woodfil.jpg" class="img-fluid " alt="printing">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="noober-octoprint" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6 col-md-12 feature-caption">
                    <h6>Octoprint</h6>
                    <p>
                        All printers in the have OctoPrint enabled, so as to allow for wireless control and monitoring.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 feature-caption">
                    <center>
                        <img src="/images/noober/octoprint.jpg" class="img-fluid " alt="octoprint">
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="noober-team" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-6 col-md-12 feature-caption">
                    <center>
                        <img src="/images/noober/erik.jpg" class="img-fluid " alt="Erik and me">
                    </center>
                </div>
                <div class="col-lg-6 col-md-12 feature-caption">
                    <p>
                        Sample text
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
