<a href="/images/stages/alpina.jpg" data-toggle="lightbox" data-gallery="ray-gallery" style="text-decoration:none">
    <div id="stage" class="rc-planes">
        <h1 class="display-3">RC Aeroplanes</h1>
    </div>
</a>

<section id="rc-plane-intro" class="feature-light">
    <div class="container">
        <div class="row ">
            <div class="float-lg">
                <div class="col-lg-5 col-md-12 feature-caption">
                    <p>
                        My father has built and flown RC aeroplanes since he was young. As I grew up, we would spend weekend mornings in the hobby-room building models. The main emphasis over the last years has been electro-gliders with a folding propellor. Above we see me flying an Alpina 5001, with a wing-span of 5 meters.
                    </p>
                    <p>
                        This picture is taken in the spring of 2009 on the fields right by where I grew up.
                    </p>
                </div>
                <div class="col-lg-7 col-md-12 feature-content">
                    <a href="/images/rc-planes/falcon.jpg" data-toggle="lightbox" data-gallery="ray-gallery">
                        <img src="/images/rc-planes/falcon.jpg" class="img-fluid " alt="Falcon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="/images/stages/rc-planes.jpg" data-toggle="lightbox" data-gallery="ray-gallery" style="text-decoration:none">
    <div id="stage" class="pappa-fly">
    </div>
</a>
