<section id="hello">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-1 feature-caption">
                    <h1>Hello!</h1>
                    <p>My name is Morten Kals, and I am enrolled in the Engineering Physics program at the University of British Columbia (UBC). I am currently looking for employment for my second and third Co-op terms, starting May 2017.</p>
                    <p>This website was made to give a glimpse of who I am and show some of my technical projects.</p>
                    <p>Below is a general overview of related items and links. Use the navbar to access a more comprehensive organization of the contents.</p>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-1 text-sm-center">
                    <figure class="figure">
                        <a href="/images/Morten-apple.jpg" data-toggle="lightbox">
                            <img src="/images/Morten-apple.jpg" class="center-block" width="304" alt="Morten">
                        </a>
                        <figcaption class="figure-caption text-xs-right">Photo by <a target="_blank" href="http://erikmaclennan.com">Erik MacLennan</a>.</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="highlights" class="feature-light">
    <div class="container ">
        <div class="row ">
            <div class="card-columns ">

                <!-- GitHub -->
                <div class="card ">
                    <div class="card-block ">
                        <a target="_blank " href="https://github.com/mkals ">
                            <button type="button " style="width:100% " class="btn btn-primary btn-lg btn-block ">GitHub</button>
                        </a>
                    </div>
                </div>

                <!-- The Ray -->
                <div class="card ">
                    <a href="/images/featured/ray.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/ray.jpg " alt="Card image cap ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            ENPH 253 is a core robotics-course for the Engineering Physics program at UBC that I took during the summer term of 2016. Teams of four work on a fully automated system to accomplish a specified task in a competitive environment.
                        </p>
                        <a href="/projects/ray/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">The Ray</button>
                        </a>
                    </div>
                </div>


                <!-- About -->
                <div class="card ">
                    <a href="/images/featured/speedrider.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img img-fluid " src="/images/featured/speedrider.jpg " alt="Card image ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            Family, skiing, unicycling, mountain biking, paragliding, speedriding, playing the piano and gardening are some of my interests.
                        </p>
                        <a href="/projects/about/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">About Me</button>
                        </a>
                    </div>
                </div>


                <!-- Johannes warrior -->
                <div class="card ">
                    <a href="/images/featured/johannes.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/johannes.jpg " alt="Card image ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            My brother Johannes in Aurland, Norway.
                        </p>
                    </div>
                </div>

                <!-- 3d-printing -->
                <div class="card ">
                    <a href="/images/featured/printer.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/printer.jpg " alt="Card image cap ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            How I got my first 3D printer before I moved to Canada.
                        </p>
                        <a href="/projects/3d-printer/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">3D Printing</button>
                        </a>
                    </div>
                </div>


                <!-- noober -->
                <div class="card ">
                    <a href="/images/featured/noober.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/noober.jpg " alt="Card image cap ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            Erik and I started an online 3D printer hub through <a target="_blank " href="https://www.3dhubs.com/service/noober ">3D Hubs</a> this summer. We provide 3D printing services to local Vancouver customers.
                        </p>
                        <a href="/projects/noober/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">Noober 3D Printer Hub</button>
                        </a>
                    </div>
                </div>

                <!-- Race-quad -->
                <div class="card ">
                    <a href="/images/featured/quad.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/quad.jpg " alt="Card image cap ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            An agile 250-class FPV quad-copter, the Race-Quad is designed for precise operation in possibly confined environments.
                        </p>
                        <a href="/projects/race-quad/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">Race-Quad</button>
                        </a>
                    </div>
                </div>


                <!-- Cam-quad -->
                <div class="card ">
                    <a href="/images/featured/cam-quad.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/cam-quad.jpg " alt="Card image cap ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            Areal camera-platform with 1.5 kg potential payload.
                        </p>
                        <a href="/projects/cam-quad/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">Cam-Quad</button>
                        </a>
                    </div>
                </div>

                <!-- Holmestrand -->
                <div class="card ">
                    <a href="/images/featured/holmestrand.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/holmestrand.jpg " alt="Card image cap ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            My first Co-op term, where I worked as a project engineer with emphasis on quality control.
                        </p>
                        <a href="/coop/holmestrand/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">Holmestrand Stasjon</button>
                        </a>
                    </div>
                </div>


                <!-- *Sundown -->
                <div class="card ">
                    <a href="/images/featured/bc.jpg " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img img-fluid " src="/images/featured/bc.jpg " alt="Card image ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            Sunset at University of British Columbia, Vancouver, Canada.
                        </p>
                    </div>
                </div>


                <!-- Thingiverse -->
                <!--
                <div class="card ">
                    <div class="card-block ">
                        <a target="_blank " href="http://www.thingiverse.com/Kals/about ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">Thingiverse</button>
                        </a>
                    </div>
                </div>
-->


                <!-- +GTD -->
                <div class="card card-block ">
                    <h4 class="card-title ">GTD</h4>
                    <p class="card-text ">
                        Building upon the “Getting Things Done” workflow of David Allen, I am engaged in an ongoing effort to optimise efficiency by adopting and developing my ability to remain on schedule and effectively prioritising efforts between coursework, examinations and projects.
                    </p>
                    <!-- <a href="/projects/gtd/ ">
                        <button type="button " class="btn btn-primary btn-lg btn-block ">More info</button>
                    </a> -->
                </div>

                <!-- iOS Development -->
                <div class="card ">
                    <a href="/images/featured/ios.png " data-toggle="lightbox" data-gallery="source-gallery ">
                        <img class="card-img-top img-fluid " src="/images/featured/ios.png " alt="Card image cap ">
                    </a>
                    <div class="card-block ">
                        <p class="card-text ">
                            My first coding experience was with iOS during high-school. I have done multiple projects for the platform, two of which have made their way onto the App Store.
                        </p>
                        <a href="/projects/ios-development/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">iOS Development</button>
                        </a>
                    </div>
                </div>


                <!-- +PiGimbal -->
                <!-- <div class="card ">
                    <img class="card-img-top img-fluid " src="/images/featured/pi-gimbal.jpg " alt="Card image cap ">
                    <div class="card-block ">
                        <h4 class="card-title ">PiGimgal</h4>
                        <p class="card-text ">

                        </p>
                            <a href="/projects/pi-gimbal/ ">
                            <button type="button " class="btn btn-primary btn-lg btn-block ">More info</button>
                        </a> 
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
