<section id="hello">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-1 feature-caption">
                    <h1>Hello!</h1>
                    <p>This website was made with the intent of showcasing some of the projects I have been involved with over the past years.</p>
                    <p>I am enrolled in the Engineering Physics program at UBC, and I am currently looking for employment for my second and third coop-terms, summer and fall of 2017.</p>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-1 text-sm-center">
                    <img src="/images/Morten-apple.jpg" class="center-block" width="304" alt="Morten">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="highlights" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="card-columns">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/featured/ray.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">The Ray</h4>
                        <p class="card-text">
                            ENPH 253 is a core robotics-course for the Engineering Physics program at UBC that I took during the summer term of 2016. Teams of four work on a fully automated system to accomplish a spesifyed task in a compettition-setting.
                        </p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">More info</button>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img img-fluid" src="/images/featured/johannes.jpg" alt="Card image">
                </div>

                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/featured/blue.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">3D Printing</h4>
                        <p class="card-text">

                        </p>
                        <a href="/projects/ray/">
                            <button type="button" class="btn btn-primary btn-lg btn-block">More info</button>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/featured/quad.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Race-Quad</h4>
                        <p class="card-text">

                        </p>
                        <a href="/projects/ray/">
                            <button type="button" class="btn btn-primary btn-lg btn-block">More info</button>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/featured/holmestrand.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Holmestrand Stasjon</h4>
                        <p class="card-text">

                        </p>
                        <a href="/projects/ray/">
                            <button type="button" class="btn btn-primary btn-lg btn-block">More info</button>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img img-fluid" src="/images/featured/multe.jpg" alt="Card image">
                </div>

                <div class="card">
                    <img class="card-img img-fluid" src="/images/featured/bc.jpg" alt="Card image">
                </div>

                <div class="card card-block">
                    <h4 class="card-title">GTD</h4>
                    <p class="card-text">Getting things done.</p>
                    <a href="/projects/gtd/">
                        <button type="button" class="btn btn-primary btn-lg btn-block">More info</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
