<section id="about-me">
    <div class="container">
        <div class="row">
            <div class="float-md">
                <div class="col-md-6 col-sm-12 feature-caption">
                    <h2>Hello!</h2>
                    <p>This website was made with the intent of showcasing some of the projects I have been involved with over the past years.</p>
                    <p>I am enrolled in the Engineering Physics program at UBC, and I am currently looking for employment for my second and third coop-terms, summer and fall of 2017.</p>
<p></p>                </div>
                <div class="col-md-6 col-sm-12 text-sm-center">
                    <img src="/images/Morten-apple.jpg" class="center-block" width="304" alt="Morten">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="hightlights">
    <div class="container">
        <div class="row">
            <h2>Sample Projects</h2>
        </div>
        <div class="row">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/woodfil.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/woodfil.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/woodfil.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
