<section id="about-me">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-md-6 col-sm-12 feature-caption">
                    <h6></h6>
                    <h2>Hello!</h2>
                    <p>This website was made with the intent of showcasing some of the projects I have been involved with over the past years. </p>
                </div>
                <div class="col-md-6 col-sm-12 text-sm-center">
                    <img src="/images/Morten-apple.jpg" class="img-fluid " alt="Morten">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="hightlights">
    <div class="container">
        <div class="row">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="/images/woodfil.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>



                    <div class="card">
                        <img class="card-img-top" src="/images/woodfil.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="/images/woodfil.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
