<a href="/images/stages/pico-hydro.png" data-toggle="lightbox" data-gallery="pico-hydro-gallery" style="text-decoration:none">
    <div id="stage" class="pico-hydro">
        <h1 class="display-3">Pioco Hydro Power Generator</h1>
    </div>
</a>

<section id="pico-hydro-motivation">
    <div class="container">
        <div class="row ">
            <div class="float-lg">
                <div class="col-lg-5  col-md-12 feature-caption">
                    <p>
                        The project's sponsor, Dr. Mark S. Johnson, is a professor at UBC within both the Department of Earth, Ocean and Atmospheric Sciences, and the Institute for Resources, Environment and Sustainability. His research group studies the impact that water plays on ecosystems in British Columbia and beyond, with the overarching goal being to use their research to inform more sustainable land use practices. Most of the group's research endeavours, require sensor systems in remote locations. Dr. Johnson's interest in the development of this project stems from this requirement, as energy generation at the testing location allows for longer testing periods without maintenance. 
                    </p>
                </div>
                <div class="offset-lg-2 col-lg-6 col-md-10 feature-content">
                    <a href="/images/pico-hydro/above.png" data-toggle="lightbox" data-gallery="pico-hydro-gallery">
                        <img src="/images/pico-hydro/above.png" class="img-fluid" alt="pico-hydro-main">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pico-hydro-intro" class="feature-light">
    <div class="container">
        <div class="row ">
            <div class="float-lg">
                <div class="col-lg-6 col-md-10 feature-content">
                    <a href="/images/pico-hydro/sectionrender_labeled.png" data-toggle="lightbox" data-gallery="pico-hydro-gallery">
                        <img src="/images/pico-hydro/sectionrender_labeled.png" class="img-fluid" alt="pico-hydro-main">
                    </a>
                </div>
                <div class="offset-lg-2 col-lg-5  col-md-12 feature-caption">
                    <p>
                        The goal of this project is to develop a complete solution to charging a 12 V battery at a minimum charging rate corresponding to 5 W of power. This device is to be easy to transport and set up, easily carried by a single person and able to be set up in under 15 minutes.
                    </p>
                    <p>
                        The structure of the device is primarily comprised of two PVC pipes stacked one upon the other. The lower pipe (pipe size 8) houses the turbine, where it both locates and protects it. The upper pipe forms the primary structure of the top waterproof enclosure that houses the power electronics, gearbox, and generator. This tough, weather-resistant, affordable material was a natural choice given the circular nature of the turbine.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="pico-hydro-systemoverview">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-4 feature-content">
                    <p>
                        The problem we are tackling is fundamentally that of energy conversion.
                        The water in the stream contains kinetic energy. The turbine takes this into the mechanical domain in the form of rotation. The speed is increased through the belt and gear-train to ensure the brushless DC electric motor generates a sufficient voltage.     
                    </p>
                    <p>
                        The energy now enters the electrical domain. Despite being called a DC motor, it produces a three-phase output that we rectify and process to interface with the battery. The unit includes over-voltage protection and maximum power point tracking to optimize charge rate while keeping the battery healthy to ensure long term operation is possible. 
                    </p>
                </div>
                <div class="offset-lg-1 col-md-7 feature-content">
                    <a href="/images/pico-hydro/systemoverview.png" data-toggle="lightbox" data-gallery="pico-hydro-gallery">
                        <img src="/images/pico-hydro/systemoverview.png" class="img-fluid " alt="pico-hydro-systemoverview">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pico-hydro-power_electronics" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-8 feature-content">
                    <a href="/images/pico-hydro/power_electronics.jpeg" data-toggle="lightbox" data-gallery="pico-hydro-gallery">
                        <img src="/images/pico-hydro/power_electronics.jpeg" class="img-fluid " alt="pico-hydro-board">
                    </a>
                </div>
                <div class="col-md-4 feature-content">
                    <p>
                        The waterproof container at the top contains the power electronics mounted to a 3d printed frame that makes accessing all components very easy.
                    </p>
                    <p>
                    A custom made printed circuit board houses the rectifyer, boost converter, MPPT (maximum power point tracking) functionality and a ATMega328P microncontroller.   
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="pico-hydro-turbine" class="feature-dark">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-8 feature-content">
                    <a href="/images/pico-hydro/sims.png" data-toggle="lightbox" data-gallery="pico-hydro-gallery">
                        <img src="/images/pico-hydro/sims.png" class="img-fluid " alt="pico-hydro-sims">
                    </a>
                </div>
                <div class="col-md-4 feature-content">
                    <p>
                        By choosing to design a dedicated propeller, we were able to optimize the system for our operating conditions by using computational fluid dynamics. Using the SOLIDWORKS Flow Simulation package, a sweep of blade count, flow velocity, and blade pitch enabled us to choose an optimal combination of values. Given a 1.4 m/s flow and the NACA2403 foil, a turbine blade count of 12 was found to produce the most power.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pico-hydro-results" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-8 feature-content">
                    <a href="/images/pico-hydro/results.png" data-toggle="lightbox" data-gallery="pico-hydro-gallery">
                        <img src="/images/pico-hydro/results.png" class="img-fluid " alt="pico-hydro-board">
                    </a>
                </div>
                <div class="col-md-4 feature-content">
                    <p>
                        We have tested the prototype in multiple streams and conditions to ensure it operates to expectation in a variety of situations. For sufficient water depth and flow velocity, the system can produce significantly more than the 5W target. 
                    </p>
                    <p>
                        The data collected from Wreck Beach and Seymour River displays how efficiency rapidly decreases when the water depth is too low and when the water velocity is too slow respectively. 
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>



<section id="pico-hydro-video">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TyOswpFKT9c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="pico-hydro_pdf" class="feature-light">
    <div class="container">
        <div class="row">
            <div class="float-lg">
                <div class="col-md-12 col-lg-12 feature-caption">
                    <p align="center">
                        <object data="/documents/enph-479-final.pdf" type="application/pdf" width="80%" height="800px"> 
                        </object>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
